<main>
  <div class="conatiner">
    <div class="big-col-a">
      <div class="top-logo">
        <p class="phoenix">Phoenix</p>
        <p class="store">Store</p>
      </div>

      <div class="xxx" style="margin-bottom: 24px;">
        Cửa hàng giao đồ uống ngon,<br> bổ dưỡng hàng đầu tại Việt Nam
      </div>

      <div class="xxx" >
        2024 Design by Johan FPT
      </div>
    </div>

    <div class="big-col-b">
      <div class="col-ft">
        <div class="top-title">
          Company
        </div>

        <div class="phan-bung">
          <p class="ty-po">About</p>
          <p class="ty-po">News</p>
          <p class="ty-po">FAQ</p>
        </div>
      </div>

      <div class="col-ft">
        <div class="top-title">
          Service
        </div>

        <div class="phan-bung">
          <p class="ty-po">Delivery</p>
          <p class="ty-po">Contact Us</p>
        </div>
      </div>

      <div class="col-ft">
        <div class="top-title">
          Follow us
        </div>

        <div class="phan-bung">
          <p class="ty-po">Facebook</p>
          <p class="ty-po">Instagram</p>
          <p class="ty-po">Twitter</p>
        </div>
      </div>
    </div>

    <div class="big-col-c">
      <div class="oi-yu">
        Nhận thông báo sản phẩm mới nhất
      </div>

      <div class="cum-input">
        <input type="text" name="" id="" placeholder="Email của bạn">
        <div class="bx-poy-ui">
          <i class='bx bx-right-arrow-alt'></i>
        </div>
      </div>

      <div class="cum-supp">
        <a href="">Điều khoản và bảo mật</a>
        <a href="">Hỗ trợ & tư vấn</a>
      </div>

    </div>
  </div>

</main>
