<div class="cnt-cen">

  <div class="banner">

    <div class="ctn-bnt">

      <div class="yu-po">
        <div class="h4-bj">Nhận mã khuyến mãi</div>
        <div class="jh0">Phoenix Store hiện đã có trong ứng dụng Grab</div>
        <button class="s-hg-po">
          Nhận mã
        </button>
      </div>

      <div class="kop">
        <div class="bn-img">
          <img src="https://th.bing.com/th/id/OIG2.blZk3L57ITCUiZJyTjYm?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="">
        </div>
      </div>

    </div>
  </div>

  <br><br><br>

  <app-productsection [title]="title1" [data]="section1"></app-productsection>

  <br><br><br>

  <app-productsection [title]="title2" [data]="section2"></app-productsection>

  <app-footer></app-footer>

</div>
