main{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  padding-top: 70px;
}

.past-left {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  height: auto;
  position: fixed;
  background-color: white;
  z-index: 9;
  left: 0;
}

.past-central{
  width: 100%;
  background-color: var(--bg-color-main);
  margin-left: 220px;
  margin-right: 320px;
}

.past-right{
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  position: fixed;
  background-color: white;
  z-index: 9;
  right: 0;
  height: calc(100vh - 100px);
}

.t-ju{
  height: 100%;
  padding: 15px 0px 10px;
}

.t-ju .my-orders {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(162, 162, 162, 0.274);
}

.t-ju .my-orders a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  padding: 15px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  color: black;
}

.t-ju .my-orders a:hover{
  background-color: rgb(238, 238, 238);
}

.t-ju .my-orders a i {
  font-size: 25px;
}

.t-ju .my-orders a p {
  font-size: 14px;
}

/* --- */

.t-ju .my0set {
  padding-bottom: 20px;
  margin-top: 10px;
}

.t-ju .my0set li{
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  padding: 15px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.t-ju .my0set li:hover{
  background-color: rgb(238, 238, 238);
}

.t-ju .my0set li i {
  font-size: 25px;
}

.t-ju .my0set li p {
  font-size: 14px;
}

/* ------------ */

.cnt-cen {
  padding: 20px;
}

.banner {
  border-radius: 20px;
  /* background-color: rgb(243, 236, 219); */
  background-image: url('https://th.bing.com/th/id/OIG2.blZk3L57ITCUiZJyTjYm?w=1024&h=1024&rs=1&pid=ImgDetMain');
  background-position: center center;
}

.ctn-bnt {
  padding: 32px 40px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.141);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.yu-po {
  width: 60%;
  text-align: center;
}

.yu-po .h4-bj {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.yu-po .jh0{
  font-size: 14px;
  margin-bottom: 20px;
  color: white;
}

.yu-po .s-hg-po {
  background: none;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.kop {
  width: 40%;
  display: flex;
}

.bn-img {
  overflow: hidden; height: 200px; width: 200px; border-radius: 20px;
}

.bn-img img{
  width: 100%; height: 100%;
}

.top-prrr{
  display: flex; align-items: center; justify-content: space-between;
}

.conyai-top-rr{
  display: flex; flex-wrap: wrap; justify-content: space-between;
}

.top-prrr a {
  color: black; font-size: 14px;
}

.products {
  width: calc((100% / 4) - 10px);
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

.p-img {
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 204px; max-height: 204px;
}

.p-img img{
  width: 100%; height: 100%;
  border-radius: 20px;
}

.pbot-inf{
  background-color: rgba(185, 185, 185, 0.281);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ven-br {
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.771);
  margin: 8px 8px;
  width: 100%;
  padding: 15px;
  position: relative;
}

.ven-br .p-title {
  font-size: 13px;
  font-weight: bold;
}

.ven-br .p-des {
  font-size: 12px;
  margin-bottom: 12px;
  color: rgba(69, 68, 68, 0.452);
}

.ven-br .p-price {
  font-weight: bold;
}

.ven-br .cart-btn {
  border-radius: 50%;
  padding: 5px;
  height: 40px;
  width: 40px;
  background-color: black;
  color: white;
  font-size: 20px;
  display: flex; align-items: center; justify-content: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

/* ------------ */

.contai-right {
  padding: 15px 20px 10px 20px;
  height: 100%;
}

.cart-contai {
  margin-top: 24px;
  max-height: 300px;
  overflow-y: scroll;
}

.bx-dots-vertical-rounded {
  text-align: right;
  font-size: 20px;
}

.oro-in-cart {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--border-get);
}

.cart-contai .oro-in-cart:last-child {
  border: none;
}

.oro-in-cart .bx-x {
  font-size: 26px;
  cursor: pointer;
  margin-right: 10px;
  color: dimgray;
}

.oro-in-cart .bx-x:hover{
  color: black;
}

.img-pr-cr {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 20px;
}

.img-pr-cr img{
  width: 100%; height: 100%;
}

.if-p-i-c .tt-p-i-c{
  font-weight: 600;
  margin-bottom: 5px;

}

.if-p-i-c .basic-p-i-c {
  font-size: 12px;
  margin-bottom: 10px;
}

.eigh-po {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eigh-po .main-price {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

.dip-qtt {
  display: flex;
  align-items: center;
  border-radius: 12px;
  column-gap: 10px;
}

.dip-qtt button {
  background: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid dimgrey;
  display: flex; align-items:
  center; justify-content: center;
  color: dimgrey;
}

.dip-qtt .qtt-po {
  font-size: 12px;
  font-weight: bold;
}


/* ---------- */

.cart-total {
  margin-top: 50px;
}

.upcp-op {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-get);
}

.upcp-op .top-text-p  {
  padding: 5px 0;
}

.top-text-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-text-p .left-up {
  color: dimgray;
  font-size: 14px;
}

.top-text-p .right-up {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.top-text-p .bond-t {
  font-size: 18px;
}

.top-text-p .all-price {
  color: var(--main-color);
  font-size: 18px;
}

.hand-bot {
  padding: 30px 0;
}

.checkout-btn {
  background: none;
  cursor: pointer;
  width: 100%;
  display: flex; align-items: center; justify-content: center;
  padding: 14px;
  background-color: var(--main-color);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 12px;
}

.pay-btn {
  background: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center; justify-content: center;
  padding: 10px 14px;
  background-color: var(--main-color);
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

.pay-btn p {
  margin-right: 20px;
}

.pay-btn i {
  font-size: 30px;
}

.payment-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
