<header>
  <div class="past-left">
    <div class="t-ju">
      <p class="phoenix">Phoenix</p><p class="coffe">Store</p>
    </div>
  </div>

  <div class="past-central">
    <div class="cnt-cen">
      <i class='bx bx-search'></i>
      <input type="text" name="" id="" placeholder="Tìm đồ uống">
    </div>
  </div>

  <div class="past-right">
    <div class="contai-right">
      <div class="ju-po">
        <div class="avt-user">
          <img src="https://i.pinimg.com/736x/90/66/c1/9066c17075cde31248bd6d28df6acafd.jpg" alt="">
        </div>

        <div class="ct-ye">
          <p class="nameus">Johan FPT</p>
          <p class="em-us">johanphoenix&#64;.com</p>
        </div>
      </div>


      <i class='bx bx-dots-vertical-rounded'></i>
    </div>

  </div>

</header>
