<div id="main" class="padding-20px">

  <div class="top-box-op">

    <h1>Cửa hàng</h1>

    <div class="box-filter">
      <div class="popurso">
        Chưa chọn tiêu chí nào
      </div>
      <button class="fillter">
        <p class="name-ft">Bộ lọc</p>
        <i class='bx bx-filter'></i>
      </button>
    </div>

  </div>

  <div class="categories_list">
    <div class="box-cate">
      <a class="cate-con">
        All
      </a>

      <a class="cate-con" *ngFor="let category of categories">
        {{category.name}}
      </a>
    </div>

    <div class="sort-by">
      <p class="past-op">Sắp xếp theo: </p>
      <div class="because">
        <p>Giá</p>
        <i class='bx bx-chevron-down'></i>
      </div>
    </div>

  </div>

  <div class="hr">
    <div class="hr-child"></div>
  </div>

  <div class="container-product">

    <div class="conyai-top-rr">

      <div class="products" [routerLink]="['/detail', product.id]" *ngFor="let product of products">

        <div class="p-img">
          <img src="{{product.img}}" alt="">
        </div>

        <div class="pbot-inf">

          <div class="ven-br" style="max-width: 93%;">
            <div class="p-title">
              {{product.name}}
            </div>
            <div class="p-des"
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: 10px;
              max-width: 150px;
            "
            >{{product.des}}</div>
            <div class="p-price">
              {{product.price}}K VND
            </div>

            <div class="cart-btn" (click)="AddToCart($event, product)">
              <i class='bx bx-cart-add'></i>
            </div>
          </div>

        </div>


      </div>

    </div>

  </div>

</div>
